
@using QueryTool
@using System.Collections


 @model IndexViewModel;

  <link href="https://cdn.jsdelivr.net/npm/&#64;mdi/font&#64;4.x/css/materialdesignicons.min.css" rel="stylesheet">

@{
    ViewData["Title"] = "Home Page";
    
  //  @Model.teste

   
   


        List<SelectListItem> listaDimensao = PopulateDimensoes();
        List<SelectListItem> listaFatos = PopulateFatos(); 
        List<SelectListItem> listaAnos = PopulateAnosPNP(); 
}

<div class="text-center">
                            <h1 class="display-4">Módulo de Exportação de Dados da PNP</h1>
                            <p></a>.</p>
                            </div>

<form asp-page-handler="PNP" method="POST">

    <table style="width:700px; border: 0px solid black" >
    <tr>
        <td  style="vertical-align:top" WIDTH=50%>
                        
                            



                                <div id="listD" class="dropdown-check-listD" tabindex="100">
                                <span class="anchorD">Selecione Dimensões</span>
                                 <ul class="items">
                                    @foreach (var item in listaDimensao){
                                                

                                                     <li>
                                                    <input id="D" type="checkbox" name="Dimensao" value="@item.Value" checked="@item.Selected"/>
                                                    @item.Text
                                                     </li>
                                                   
                                                 

                                                }
   
                                </ul>
                         </div>
                                
        </td>
        </tr>
        <tr>
        

        <td style="vertical-align:top"  WIDTH=50%>
            <p></p>
                            <div id="listF" class="dropdown-check-listD" tabindex="100">
                                <span class="anchorD">Selecione Fatos PNP*</span>
                                 <ul class="items">

                                            @foreach (var item in listaFatos){
                                                    

                                                         <li>
                                                        <input id="@item.Value" type="checkbox" name="Fato" value="@item.Value" checked="@item.Selected"/>
                                                        @item.Text
                                                         </li>

                                                    }
                                        </ul>
                                        
                                    </div>
                                    

         </td>
         </tr>
          </tr>
        <tr>
        <td style="vertical-align:top"  WIDTH=50%>
             <div id="listA" class="dropdown-check-listA" tabindex="100">
                                <span class="anchorA">Selecione Filtro Anos</span>
                                 <ul class="items">
                                    @{
                                            
                                            @foreach (var item in listaAnos){
                                                Console.Write("entre");
                                                    

                                                         <li>
                                                        <input id="A" type="checkbox" name="Ano" value="@item.Value" checked="@item.Selected"/>
                                                    @item.Text
                                                         </li>

                                                    }
                                    }
                                        </ul>
                                        
                                    </div>






        </td>

        </tr>
        <tr>
        <td style="vertical-align:top"  WIDTH=50%>
           <p></p>
        </td>

        </tr>
        </table>
        <p></p>
         <button id="button1" type="submit"  class="btn btn-success" name="acao" value="processar"  asp-page-handler="Submit" >Processar</button>
<p></p>
                         
           
       </form>
         <form asp-page-handler="PNP" method="Post">
            @if (Model.Tabela.Dimnesao != null)
            {
                
            

            @for (int i = 0; i < Model.Tabela.Dimnesao.Length; i++)
            {
                    <input type="hidden" id="D" type="checkbox" name="Dimensao" value="@Model.Tabela.Dimnesao[i]" checked="true" />
                                               //     Console.WriteLine(@Model.Tabela.Dimnesao[i]);
            } 
            }
             @if (Model.Tabela.Fato != null)
            {

             @for (int i = 0; i < Model.Tabela.Fato.Length; i++)
            {
                    <input type="hidden" id="F" type="checkbox" name="Fato" value="@Model.Tabela.Fato[i]" checked="true" />
                                               //     Console.WriteLine(@Model.Tabela.Dimnesao[i]);
            } 
            

              @for (int i = 0; i < Model.Tabela.Ano.Length; i++)
            {
                    <input type="hidden" id="A" type="checkbox" name="Ano" value="@Model.Tabela.Ano[i]" checked="true" />
                                               //     Console.WriteLine(@Model.Tabela.Dimnesao[i]);
            } 
            }
            
            
                                                

                                                 
                                                
                                                   

                                                
            
           <button id="button1" type="submit"  class="btn btn-success"  name="acao" value="csv" asp-page-handler="Submit" >Gera CSV</button>

        </form>
        @if(ViewBag.Arquivo !=null){

            Console.Write(ViewBag.Arquivo);

         <a href=@ViewBag.Arquivo download="pnp_academicosPNP.txt" title="Download CSV PNP" target="_blank">  Download CSV</a>
         }

<div id="app">
    <div class="text-center">
    
     <div>
       <v-card>
   
          <v-card-title class="justify-center">Modulo de exportaçao</v-card-title>
        
          <v-expansion-panels>
          
          </v-expansion-panels>
  
          
          <v-data-table
          :headers="headers"
          :items="desserts"
         
          :items-per-page="5"
          class="elevation-1"
        ></v-data-table>
                
      
        </v-card>
    </v-container>
          
       
    </div>
</div>
</v-app>
        <p></p>
      
    

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>


@{


      List<SelectListItem> PopulateAnosPNP()
    {
        List<SelectListItem> items = new List<SelectListItem>();
        AnosPNP anosPNP = new AnosPNP();

        
        foreach (var item in anosPNP.listaAnos)

        {
            //    dimensoes = dimensoes + "\'" + item.ToString().Trim().Replace("\'","")+"\',";

            items.Add(new SelectListItem
            {
                Text = item.ToString(),
                Value = item.ToString()
            });
        }


        //     itemsDimensao = items;
        //   Console.WriteLine(dimensoes);
        return items;
    }



      List<SelectListItem> PopulateDimensoes()
    {
        List<SelectListItem> items = new List<SelectListItem>();
        DimensaoPNP dimensaoPNP = new DimensaoPNP();

        ArrayList listaD = dimensaoPNP.listaDimensoes;
        foreach (var item in listaD)

        {
            //    dimensoes = dimensoes + "\'" + item.ToString().Trim().Replace("\'","")+"\',";

            items.Add(new SelectListItem
            {
                Text = item.ToString(),
                Value = item.ToString()
            });
        }


        //     itemsDimensao = items;
        //   Console.WriteLine(dimensoes);
        return items;
    }

     static List<SelectListItem> PopulateFatos()
    {
        List<SelectListItem> items = new List<SelectListItem>();
        FatosPNP fatosPNP = new FatosPNP();

        ArrayList listaF = fatosPNP.listaFatos;
        foreach (var item in listaF)

        {


            FatosValue fatosValue = (FatosValue)item;
            items.Add(new SelectListItem
            {
                Text = fatosValue.Text,
                Value = fatosValue.Value
            });
        }




        return items;
    }

}



<script type="text/javascript" charset="utf-8">
  let app = new Vue({
      el: '#app',
       vuetify: new Vuetify({

          icons: {
        iconFont: "md",
    },
       }),
    
    
    
   data: {  
    teste :['dudu'],
    selectedDim :[],
    selectedFact: ['John'],
    array: [],
    headers: [
       
        @Html.Raw(Model.Tabela.colunas)
 
        
        ],
        desserts: [
        @Html.Raw(Model.Tabela.linhas)
        
        ]
   
   
   },
   methods: {
    greet: function (event) {

         $.ajax({
            type: "GET",
            url: "./Search",
            data:  $("#query").val(),
            dataType: "json",
            success: OnSuccess,
            failure: function (response) {
                alert(response.d);
            }
        });
     
     
    }
   
   }
  }
  )

    
function setHourglass()
 {
   document.body.style.cursor = 'wait';
 }
  
   




</script>
