@using QueryTool
@using System.Collections


@model IndexViewModel;

<link href="https://cdn.jsdelivr.net/npm/&#64;mdi/font&#64;4.x/css/materialdesignicons.min.css" rel="stylesheet">

@{
ViewData["Title"] = "Home Page";
List<SelectListItem> listaAnos = PopulateAnosPNP();
    }
    @{
    ViewData["Title"] = "Home Page";
    }

    <v-app id="app">
        <div class="d-flex">
            <nav class="nav_sidebar">
                <div class="menu-items">
                    <ul class="nav-links">
                        <!-- Dados acâdemicos-->

                        <li>
                            <img type="image/svg+xml" src="~/images/inicio.png" />

                            <a href="/">
                                <span class="link-name">Início</span>
                            </a>
                        </li>

                        <li>
                            <img type="image/svg+xml" src="~/images/gestao.png" />

                            <a
                                href="/PnpQuery?Ano=2021&query=queryDadosGerais.dax&titulo=Dados Acadêmicos;Curso, matrícula e oferta">
                                <span class="link-name">Indicadores de Gestão</span>
                            </a>
                        </li>

                        <li>
                            <img type="image/svg+xml" id="dolar" src="~/images/orcamento.png" />

                            <a href="/PnpQuery?Ano=2021&query=queryPanoramaOrcamentario.dax&titulo=Orçamento;Panorama Orcamentário"
                                title="Orçamentos">
                                <span class="link-name">Dados Orçamentários</span>
                            </a>
                        </li>
                        <li>
                            <img type="image/svg+xml" src="~/images/pessoas.png" />

                            <a href="/PnpQuery?Ano=2021&query=queryCargosCarreira.dax&titulo=Gestão de Pessoas;Cargos da Carreira"
                                title="Gestão de Pessoas">
                                <span class="link-name">Dados de Gestão de Pessoas</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>
            </nav>
            <div class="content ml-3">
                @{
                    if(ViewBag.Titulo == "Dados Acadêmicos"){
                        <div class="container-scroller" id="container">
    <li tabindex="0">
        📘 Dados Acadêmicos
        <ul>
            <li>
                <a href="/PnpQuery?Ano=2021&query=queryDadosGerais.dax&titulo=Dados Acadêmicos;Curso, matrícula e oferta"
                    title="Curso, matrícula e oferta">Curso, matrícula e oferta</a>
            </li>
            <li>
                <a href="/PnpQuery?Ano=2021&query=querySituacaoMatricula.dax&titulo=Indicadores de Acadêmicos;Situacao Matricula"
                    title="Situação Matricula">Situação Matricula</a>
            </li>

            <li>
                <a
                    href="/PnpQuery?Ano=2021&query=queryCassificacaoRacialRendaSexo.dax&titulo=Dados Acadêmicos;Classificação Racial, Renda, Sexo e Faixa Etária">Classificação
                    racial, renda e sexo</a>
            </li>
        </ul>
    </li>
    <li tabindex="0">
        <div class="percent">%</div>
        Percentuais Legais

        <ul>
            <li>
                <a href="/PnpQuery?Ano=2021&query=queryPercentuaisLegais.dax&titulo=Percentuais Legais;Percentuais Legais"
                    title="Percentuais Legais">Percentuais Legais</a>
            </li>
            <li>
                <a href="/PnpQuery?Ano=2021&query=queryReservaVagas.dax&titulo=Percentuais Legais;Reserva de Vagas"
                    title="Reserva de Vagas">Reserva de Vagas</a>
            </li>
            <li>
                <a href="/PnpQuery?Ano=2021&query=queryOfertaVagasNoturnas.dax&titulo=Percentuais Legais;Oferta de Vagas Noturnas"
                    title="Oferta de Vagas Noturnas">Oferta de Vagas Noturnas</a>
            </li>
            <li>
                <a href="/PnpQuery?Ano=2021&query=queryRelacaoInscritosVagas.dax&titulo=Percentuais Legais;Relação Inscritos/Vagas"
                    title="Relação Inscritos/Vagas">Relação Inscritos/Vagas</a>
            </li>
        </ul>
    </li>
    <li tabindex="0">
        🎓 Indicadores Acadêmicos

        <ul>
            <li>
                <a href="/PnpQuery?Ano=2021&query=queryTaxaEvasao.dax&titulo=Indicadores de Acadêmicos;Taxa de Evasão"
                    title="Taxa de Evasão">Taxa de Evasão</a>
            </li>
            <li>
                <a href="/PnpQuery?Ano=2021&query=queryEficienciaAcademica.dax&titulo=Indicadores de Acadêmicos;Eficiência Acadêmica"
                    title="Eficiência Acadêmica">Eficiência Acadêmica</a>
            </li>
            <li>
                <a href="/PnpQuery?Ano=2021&query=queryRelacaoAlunoProfessorRAP.dax&titulo=Indicadores de Acadêmicos;Relação Aluno Professsor (RAP)"
                    title="Relação Aluno Professsor (RAP)">Relação Aluno Professsor (RAP)</a>
            </li>
            <li>
                <a href="/PnpQuery?Ano=2021&query=queryIndiceVerticalizacao.dax&titulo=Indicadores de Acadêmicos;Índice de Verticalização"
                    title="Índice de Verticalização">Índice de Verticalização</a>
            </li>
            <li>
                <a href="/PnpQuery?Ano=2021&query=queryTaxaOcupacao.dax&titulo=Indicadores de Acadêmicos;Taxa de Ocupação"
                    title="Taxa de Ocupação">Taxa de Ocupação</a>
            </li>
        </ul>
    </li>
    <li tabindex="0">
        🚻 Indicadores de Pessoal

        <ul>
            <li>
                <a href="/PnpQuery?Ano=2021&query=queryTitulacaoDocente.dax&titulo=Indicadores de Pessoal;Titulação Docente"
                    title="Titulação Docente">Titulação Docente</a>
            </li>
            <li>
                <a href="/PnpQuery?Ano=2021&query=queryTecnicosAdmNivel.dax&titulo=Indicadores de Pessoal;Técnico Administrativo por Nível"
                    title="Técnico Administrativo por Nível">
                    Técnico Administrativo por Nível</a>
            </li>
            <li>
                <a href="/PnpQuery?Ano=2021&query=queryProfessoresPorInstituicao.dax&titulo=Indicadores de Pessoal;Professores Por Instituição"
                    title="Professores Por Instituição">
                    Professores Por Instituição</a>
            </li>
        </ul>
    </li>
    <li tabindex="0">
        💲 Indicadores de Gastos

        <ul>
            <li>
                <a href="/PnpQuery?Ano=2021&query=queryIndicadoresGastos.dax&titulo=Indicadores de Gastos;Indicadores de Gastos"
                    title="Indicadores de Gastos">Indicadores de Gastos</a>
            </li>
        </ul>
    </li>
    <li tabindex="0">
        📊 Dados INEP

        <ul>
            <li>
                <a href="/PnpQuery?Ano=2021&query=queryIGC.dax&titulo=Dados INEP;Índice Geral de Cursos"
                    title="Índice Geral de Cursos">Índice Geral de Cursos</a>
            </li>
        </ul>
    </li>
</div>
                    }
                    else
                    {
                        <div class="container-scroller" id="container">
                        <li tabindex="0">
                            📘
                            @ViewBag.Titulo
                            <ul>
                                <li>
                                    <a> 
                                        @ViewBag.subTitulo
                                    </a>
                                </li>
                            </ul>
                        </li>
                        </div>
                    }
                }


                    <v-card elevation="0" class="text-start">
                        <h2 class="titlepage">@ViewBag.Titulo</h2>
                        <h2 class="titlepage">Painel @ViewBag.subTitulo</h2>
                    </v-card>
                    <v-card elevation="0" width="100%">
                        <form asp-page-handler="Index" method="GET">
                            <v-card-actions>
                                @{
                                @foreach (var item in listaAnos){
                                Console.Write("entre");
                                Boolean chave =true;
                                for (int x=0;x
                                <Model.Tabela.Ano.Length;x++){ if (Model.Tabela.Ano[x].Trim().Equals(@item.Value)){
                                    <input id="@item.Text" type="checkbox" name="Ano" value="@item.Value"
                                    checked=true />
                                <label for="@item.Text" class="ml-1 mr-1">@item.Text</label>

                                chave=false;

                                }
                                }


                                if (chave){
                                <input id="@item.Text" type="checkbox" name="Ano" value="@item.Value" />
                                <label for="@item.Text" class="ml-1 mr-1">@item.Text</label>
                                }
                                }
                                }
                            </v-card-actions>
                            <div class="d-flex">
                                <div class="d-flex mr-5">
                                    <input type="hidden" id="fname" name="titulo"
                                        value="@ViewBag.Titulo;@ViewBag.subTitulo">
                                    <v-btn 
                                    id="processar"
                                    value="@ViewBag.query" color="#85C300" class="mr-2" dark type="submit"
                                        name="query" asp-page-handler="Submit">Processar</v-btn>
                                    <v-btn class="mr-2">
                                        <a href="@ViewBag.Arquivo" class="button download"
                                            download="pnp_academicosPNP.txt" target="_blank">
                                            Download CSV
                                        </a>
                                    </v-btn>
                                    <v-btn class="mr-2">
                                        <a href="@ViewBag.Dicionario" class="button download"
                                            download="dicionarioPNP.pdf" target="_blank">
                                            Download Dicionário de Dados
                                        </a>
                                    </v-btn>
                                </div>
                                <div style="width: 100%;">
                                    <v-btn block elevation="0">
                                        <v-icon class="mr-2" color="#52D480">mdi-check-circle</v-icon>
                                        Total de Registros 100 de @ViewBag.registros
                                    </v-btn>
                                </div>
                            </div>
                        </form>
                    </v-card>
                    <div 
                    class="d-flex flex-column align-center justify-center" 
                    style="max-width: 1350px">
                        <v-data-table 
                        :headers="headers" 
                        :items="desserts" 
                        hide-default-footer
                        :page.sync="page"
                        :items-per-page="itemsPerPage"
                        class="mt-5 elevation-2">
                        </v-data-table>
                            <div 
                            class="d-flex pt-3 justify-center"
                            style="width: 100%;">
                            <v-subheader>Linhas por Página</v-subheader>
                                <v-select
                                :items="optionsItemsPerPage"
                                v-model="itemsPerPage"
                                label="Linhas por Página"
                                style="max-width: 100px;"
                                solo></v-select>
                            </div>
                            <v-pagination
                            v-model="page"
                            :length="pageCount">
                            </v-pagination>
                            
                    </div>
            </div>

        </div>

    </v-app>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>


    @{


    List<SelectListItem> PopulateAnosPNP()
        {
        List<SelectListItem> items = new List<SelectListItem>();
                AnosPNP anosPNP = new AnosPNP();


                foreach (var item in anosPNP.listaAnos)

                {
                // dimensoes = dimensoes + "\'" + item.ToString().Trim().Replace("\'","")+"\',";

                items.Add(new SelectListItem
                {
                Text = item.ToString(),
                Value = item.ToString(),
                Selected = (item.ToString().Equals(AnosPNP.anocorrente)?true:false)
                });
                }


                // itemsDimensao = items;
                // Console.WriteLine(dimensoes);
                return items;
                }










                }

                <script>
                    function myFunction() {
                        alert("I am an alert box!");
                    }
                </script>

                <script type="text/javascript" charset="utf-8">




                    let app = new Vue({
                        el: '#app',
                        vuetify: new Vuetify({

                            icons: {
                                iconFont: "md",
                            },
                        }),



                        data: {
                            page: 1,
                            itemsPerPage: 10,
                            optionsItemsPerPage: [5, 10, 25, 50, 100],
                            teste: ['dudu'],
                            selectedDim: [],
                            selectedFact: ['John'],
                            array: [],
                            headers: [
       
         @Html.Raw(Model.Tabela.colunas) 
 
        
        ],
                    desserts: [
        
         @Html.Raw(Model.Tabela.linhas) 
        
        ]
   
   
   },
                    computed: {
                        totalRecords() {
          return this.desserts.length
      },
                        pageCount() {
          return this.totalRecords / this.itemsPerPage
      },
                    },
                    methods: {
                        greet: function (event) {

                            $.ajax({
                                type: "GET",
                                url: "./Search",
                                data: $("#query").val(),
                                dataType: "json",
                                success: OnSuccess,
                                failure: function (response) {
                                    alert(response.d);
                                }
                            });


                        }


                    }
  }
  )


                    function setHourglass() {
                        document.body.style.cursor = 'wait';
                    }
                </script>
                <script>
                    function startLoading(){
                        $('#processar').click(function(){
                            $(".load-spinner").toggleClass("remove-none");
                        });
                    }
                    
                </script>
                </div>